body{
    /* width: 100%;
    height: 100vh; */
    margin: 5px 5px;
    box-sizing: border-box;
    padding: 0;
    border: 5px double black;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #logo{
    margin:20px auto;
    width: 200px;
    max-height: 300px;
    display: block;
    
  }
  
  .container h1{
    text-align:center;
    margin:0;
  }
  
  .mid h2{
    text-align:center;
    line-height:1.5;
  }

  .sir{
    margin-top: -28px;
  }
  
  .sir h3{
    margin: 80px 20px 20px;
    line-height: 1.8;
    font-size:20px;
    
  }
  
  .my h3{
    /* float: right; */
    /* margin:8px; */
    margin-top: 50px;
    padding: 5px;
    font-size: 23px;
    line-height:1.8;
    text-align: center;
  }
  
  .my p{
    display: inline;
  }
  
  .my button{
    font-weight:500;
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
  }
  
  .print{
   display:inline;
  }
  
  .print button {
    background-color: blue;
    color: white;
    font-weight: 500;
    margin:160px 10px 0px;
    border:1px solid white;
    border-radius:5px;
    padding: 10px 5px;
  }

  /* Select Course */
  .coruse{
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .coruse select{
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    border: none;
    position: relative;
    z-index: 999;
  }

  /* Select Teacher */
  .teacher{
    /* margin-bottom: -40px;  */
    margin-bottom: -30px;
    margin-top: 8px;
    padding: 0;
    margin-left: 0;
  }

  .teacher select{
    font-size: 20px;
    font-weight: 600;
    border: none;
    position: relative;
    z-index: 999;
  }

  .session{
    display: inline;
  }

  .session select{
    font-size: 23px;
    font-weight: 600;
    border: none;
    position: relative;
    z-index: 999;
  }

  @media print{
    .print{
      display: none;
    }
  }
